In [1]:
import pandas as pd
p_0801 = pd.read_csv('C:/Users/DJA/Downloads/데이터/원본자료/새 폴더/pop_200801_200803_u8.csv')
get_idx = [0,1,70,139]
# p_0801.head()
# for i in range(len(p_0801.columns)):
#     print(p_0801.columns[i])
# tp_0801 = p_0801[['행정구역','2008년01월_계_총인구수','2008년02월_계_총인구수','2008년03월_계_총인구수']]
# tp_0801 = p_0801[p_0801.columns[get_idx]]
tp_08_17 = p_0801[p_0801.columns[[0,1]]]

tp_08_17.head()

                        행정구역  2008년01월_계_총인구수
0        서울특별시  (1100000000)       10201656.0
1     서울특별시 종로구 (1111000000)         166464.0
2  서울특별시 종로구 청운동(1111051000)           4741.0
3  서울특별시 종로구 효자동(1111052000)          12154.0
4  서울특별시 종로구 사직동(1111053000)           8788.0

In [2]:
y_f = '{0:02d}'
m_f = '{0:02d}'

for i in range(8,18):
    for j in range(1,11,3):
        p = pd.read_csv('C:/Users/DJA/Downloads/데이터/원본자료/새 폴더/pop_20'+
                        y_f.format(i)+m_f.format(j)+'_20'+y_f.format(i)+m_f.format(j+2)+'_u8.csv')
        p = p[p.columns[get_idx]]
        tp_08_17 = pd.merge(tp_08_17,p,how='outer')

tp_08_17.head()

,행정구역,2008년01월_계_총인구수,2008년02월_계_총인구수,2008년03월_계_총인구수,2008년04월_계_총인구수,2008년05월_계_총인구수,2008년06월_계_총인구수,2008년07월_계_총인구수,2008년08월_계_총인구수,2008년09월_계_총인구수,...,2017년03월_계_총인구수,2017년04월_계_총인구수,2017년05월_계_총인구수,2017년06월_계_총인구수,2017년07월_계_총인구수,2017년08월_계_총인구수,2017년09월_계_총인구수,2017년10월_계_총인구수,2017년11월_계_총인구수,2017년12월_계_총인구수
0,서울특별시 (1100000000),10201656.0,10212056.0,10206136.0,10206862.0,10204867.0,10196863.0,10196644.0,10197320.0,10198705.0,...,9926968.0,9922745.0,9919016.0,9914381.0,9908612.0,9902072.0,9891448.0,9882810.0,9870167.0,9857426.0
1,서울특별시 종로구 (1111000000),166464.0,167848.0,168162.0,168597.0,168966.0,169362.0,169750.0,170281.0,170348.0,...,153589.0,153937.0,154293.0,154408.0,154802.0,155035.0,155109.0,155103.0,154906.0,154770.0
2,서울특별시 종로구 청운동(1111051000),4741.0,4737.0,4659.0,4643.0,4680.0,4681.0,4683.0,4705.0,4718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울특별시 종로구 효자동(1111052000),12154.0,12166.0,12122.0,12102.0,12094.0,12104.0,12088.0,12085.0,12028.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울특별시 종로구 사직동(1111053000),8788.0,9149.0,9321.0,9452.0,9550.0,9597.0,9675.0,9731.0,9803.0,...,9529.0,9467.0,9457.0,9409.0,9436.0,9421.0,9406.0,9410.0,9406.0,9441.0

In [3]:
tp_08_17 = tp_08_17.rename(columns = lambda x: x[2:4] + x[5:7])
tp_08_17.head()

,구역,0801,0802,0803,0804,0805,0806,0807,0808,0809,...,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712
0,서울특별시 (1100000000),10201656.0,10212056.0,10206136.0,10206862.0,10204867.0,10196863.0,10196644.0,10197320.0,10198705.0,...,9926968.0,9922745.0,9919016.0,9914381.0,9908612.0,9902072.0,9891448.0,9882810.0,9870167.0,9857426.0
1,서울특별시 종로구 (1111000000),166464.0,167848.0,168162.0,168597.0,168966.0,169362.0,169750.0,170281.0,170348.0,...,153589.0,153937.0,154293.0,154408.0,154802.0,155035.0,155109.0,155103.0,154906.0,154770.0
2,서울특별시 종로구 청운동(1111051000),4741.0,4737.0,4659.0,4643.0,4680.0,4681.0,4683.0,4705.0,4718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울특별시 종로구 효자동(1111052000),12154.0,12166.0,12122.0,12102.0,12094.0,12104.0,12088.0,12085.0,12028.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울특별시 종로구 사직동(1111053000),8788.0,9149.0,9321.0,9452.0,9550.0,9597.0,9675.0,9731.0,9803.0,...,9529.0,9467.0,9457.0,9409.0,9436.0,9421.0,9406.0,9410.0,9406.0,9441.0

In [4]:
tp_08_17['지역'] = [i.split('(')[0] for i in tp_08_17['구역']]
tp_08_17.head()

,구역,0801,0802,0803,0804,0805,0806,0807,0808,0809,...,1704,1705,1706,1707,1708,1709,1710,1711,1712,지역
0,서울특별시 (1100000000),10201656.0,10212056.0,10206136.0,10206862.0,10204867.0,10196863.0,10196644.0,10197320.0,10198705.0,...,9922745.0,9919016.0,9914381.0,9908612.0,9902072.0,9891448.0,9882810.0,9870167.0,9857426.0,서울특별시
1,서울특별시 종로구 (1111000000),166464.0,167848.0,168162.0,168597.0,168966.0,169362.0,169750.0,170281.0,170348.0,...,153937.0,154293.0,154408.0,154802.0,155035.0,155109.0,155103.0,154906.0,154770.0,서울특별시 종로구
2,서울특별시 종로구 청운동(1111051000),4741.0,4737.0,4659.0,4643.0,4680.0,4681.0,4683.0,4705.0,4718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울특별시 종로구 청운동
3,서울특별시 종로구 효자동(1111052000),12154.0,12166.0,12122.0,12102.0,12094.0,12104.0,12088.0,12085.0,12028.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울특별시 종로구 효자동
4,서울특별시 종로구 사직동(1111053000),8788.0,9149.0,9321.0,9452.0,9550.0,9597.0,9675.0,9731.0,9803.0,...,9467.0,9457.0,9409.0,9436.0,9421.0,9406.0,9410.0,9406.0,9441.0,서울특별시 종로구 사직동

In [5]:
tp_08_17['지역번호'] = [i.split('(')[1][:-1] for i in tp_08_17['구역']]
tp_08_17.head()

,구역,0801,0802,0803,0804,0805,0806,0807,0808,0809,...,1705,1706,1707,1708,1709,1710,1711,1712,지역,지역번호
0,서울특별시 (1100000000),10201656.0,10212056.0,10206136.0,10206862.0,10204867.0,10196863.0,10196644.0,10197320.0,10198705.0,...,9919016.0,9914381.0,9908612.0,9902072.0,9891448.0,9882810.0,9870167.0,9857426.0,서울특별시,1100000000
1,서울특별시 종로구 (1111000000),166464.0,167848.0,168162.0,168597.0,168966.0,169362.0,169750.0,170281.0,170348.0,...,154293.0,154408.0,154802.0,155035.0,155109.0,155103.0,154906.0,154770.0,서울특별시 종로구,1111000000
2,서울특별시 종로구 청운동(1111051000),4741.0,4737.0,4659.0,4643.0,4680.0,4681.0,4683.0,4705.0,4718.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울특별시 종로구 청운동,1111051000
3,서울특별시 종로구 효자동(1111052000),12154.0,12166.0,12122.0,12102.0,12094.0,12104.0,12088.0,12085.0,12028.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울특별시 종로구 효자동,1111052000
4,서울특별시 종로구 사직동(1111053000),8788.0,9149.0,9321.0,9452.0,9550.0,9597.0,9675.0,9731.0,9803.0,...,9457.0,9409.0,9436.0,9421.0,9406.0,9410.0,9406.0,9441.0,서울특별시 종로구 사직동,1111053000

In [6]:
v_idx = [-1,-2]
# tp_08_17[tp_08_17.columns[[-1, -2]]].head()
for i in range(1,121):
    v_idx.append(i)

tp_08_17 = tp_08_17[tp_08_17.columns[v_idx]]
tp_08_17

,지역번호,지역,0801,0802,0803,0804,0805,0806,0807,0808,...,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712
0,1100000000,서울특별시,10201656.0,10212056.0,10206136.0,10206862.0,10204867.0,10196863.0,10196644.0,10197320.0,...,9926968.0,9922745.0,9919016.0,9914381.0,9908612.0,9902072.0,9891448.0,9882810.0,9870167.0,9857426.0
1,1111000000,서울특별시 종로구,166464.0,167848.0,168162.0,168597.0,168966.0,169362.0,169750.0,170281.0,...,153589.0,153937.0,154293.0,154408.0,154802.0,155035.0,155109.0,155103.0,154906.0,154770.0
2,1111051000,서울특별시 종로구 청운동,4741.0,4737.0,4659.0,4643.0,4680.0,4681.0,4683.0,4705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1111052000,서울특별시 종로구 효자동,12154.0,12166.0,12122.0,12102.0,12094.0,12104.0,12088.0,12085.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1111053000,서울특별시 종로구 사직동,8788.0,9149.0,9321.0,9452.0,9550.0,9597.0,9675.0,9731.0,...,9529.0,9467.0,9457.0,9409.0,9436.0,9421.0,9406.0,9410.0,9406.0,9441.0
5,1111054000,서울특별시 종로구 삼청동,3847.0,3866.0,3859.0,3824.0,3810.0,3808.0,3772.0,3762.0,...,2919.0,2917.0,2901.0,2935.0,2944.0,2930.0,2940.0,2936.0,2914.0,2907.0
6,1111055000,서울특별시 종로구 부암동,11798.0,11751.0,11678.0,11623.0,11670.0,11598.0,11584.0,11602.0,...,10553.0,10503.0,10469.0,10420.0,10428.0,10394.0,10348.0,10317.0,10343.0,10317.0
7,1111056000,서울특별시 종로구 평창동,19362.0,19403.0,19374.0,19339.0,19331.0,19384.0,19344.0,19382.0,...,19248.0,19223.0,19209.0,19171.0,19098.0,19076.0,19067.0,19080.0,19023.0,18995.0
8,1111057000,서울특별시 종로구 무악동,6186.0,7030.0,7734.0,8105.0,8350.0,8446.0,8528.0,8577.0,...,8342.0,8338.0,8334.0,8325.0,8339.0,8321.0,8306.0,8317.0,8325.0,8320.0
9,1111058000,서울특별시 종로구 교남동,9063.0,9099.0,9086.0,9105.0,9114.0,9120.0,9086.0,9101.0,...,6451.0,7289.0,7944.0,8431.0,9017.0,9509.0,9841.0,9945.0,10030.0,10225.0
10,1111060000,서울특별시 종로구 가회동,5940.0,5961.0,5907.0,5870.0,5856.0,5833.0,5843.0,5853.0,...,4648.0,4644.0,4630.0,4612.0,4618.0,4607.0,4582.0,4559.0,4541.0,4531.0
11,1111061500,서울특별시 종로구 종로1.2.3.4가동,7320.0,7335.0,7173.0,7169.0,7165.0,7145.0,7188.0,7199.0,...,7650.0,7633.0,7605.0,7587.0,7572.0,7574.0,7588.0,7615.0,7604.0,7590.0
12,1111063000,서울특별시 종로구 종로5.6가동,6649.0,6617.0,6613.0,6602.0,6572.0,6532.0,6544.0,6567.0,...,5547.0,5522.0,5509.0,5455.0,5439.0,5382.0,5418.0,5410.0,5377.0,5357.0
13,1111064000,서울특별시 종로구 이화동,9641.0,9653.0,9605.0,9593.0,9574.0,9549.0,9561.0,9596.0,...,8426.0,8387.0,8360.0,8377.0,8332.0,8300.0,8294.0,8298.0,8282.0,8249.0
14,1111065000,서울특별시 종로구 혜화동,12222.0,12326.0,12276.0,12260.0,12288.0,12292.0,12282.0,12249.0,...,17761.0,17679.0,17595.0,17543.0,17483.0,17459.0,17452.0,17402.0,17391.0,17306.0
15,1111066000,서울특별시 종로구 명륜3가동,6662.0,6679.0,6701.0,6704.0,6737.0,6760.0,6748.0,6768.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1111067000,서울특별시 종로구 창신제1동,7123.0,7082.0,7090.0,7118.0,7077.0,7058.0,7080.0,7117.0,...,5687.0,5663.0,5669.0,5651.0,5622.0,5634.0,5612.0,5611.0,5558.0,5520.0
17,1111068000,서울특별시 종로구 창신제2동,11870.0,11897.0,11874.0,11930.0,11926.0,11936.0,11938.0,11954.0,...,9438.0,9389.0,9373.0,9339.0,9304.0,9305.0,9244.0,9217.0,9193.0,9181.0
18,1111069000,서울특별시 종로구 창신제3동,8810.0,8755.0,8740.0,8771.0,8724.0,8691.0,8631.0,8665.0,...,7454.0,7458.0,7434.0,7428.0,7418.0,7401.0,7369.0,7363.0,7359.0,7350.0
19,1111070000,서울특별시 종로구 숭인제1동,6341.0,6373.0,6331.0,6328.0,6335.0,6695.0,7061.0,7200.0,...,6661.0,6609.0,6634.0,6612.0,6635.0,6650.0,6608.0,6582.0,6585.0,6566.0
20,1111071000,서울특별시 종로구 숭인제2동,7947.0,7969.0,8019.0,8059.0,8113.0,8133.0,8114.0,8168.0,...,9668.0,9664.0,9652.0,9608.0,9636.0,9645.0,9636.0,9661.0,9641.0,9643.0
21,1114000000,서울특별시 중구,130168.0,130160.0,130042.0,129675.0,130326.0,130540.0,130812.0,130859.0,...,124312.0,124072.0,124064.0,123970.0,123926.0,124793.0,125332.0,125445.0,125580.0,125709.0
22,1114052000,서울특별시 중구 소공동,1152.0,1029.0,1031.0,1004.0,997.0,995.0,1011.0,1031.0,...,2001.0,1990.0,1974.0,1979.0,1975.0,1984.0,1991.0,2010.0,2012.0,2022.0
23,1114054000,서울특별시 중구 회현동,4550.0,4561.0,4550.0,4508.0,4528.0,4540.0,4536.0,4574.0,...,5417.0,5374.0,5374.0,5381.0,5361.0,5363.0,5343.0,5348.0,5353.0,5331.0
24,1114055000,서울특별시 중구 명동,2857.0,2838.0,2853.0,2822.0,2811.0,2804.0,2805.0,2803.0,...,3027.0,3005.0,3016.0,3007.0,2987.0,2993.0,2979.0,2964.0,2937.0,2942.0
25,1114057000,서울특별시 중구 필동,4703.0,4741.0,4752.0,4745.0,4723.0,4661.0,4688.0,4665.0,...,4126.0,4103.0,4085.0,4076.0,4074.0,4065.0,4053.0,4050.0,4063.0,4078.0
26,1114058000,서울특별시 중구 장충동,5915.0,5920.0,5887.0,5885.0,5882.0,5846.0,5851.0,5837.0,...,4878.0,4846.0,4853.0,4856.0,4857.0,4829.0,4821.0,4798.0,4791.0,4782.0
27,1114059000,서울특별시 중구 광희동,4989.0,4961.0,4941.0,4917.0,4940.0,4965.0,4996.0,4975.0,...,5098.0,5085.0,5086.0,5077.0,5058.0,5047.0,5031.0,5039.0,5019.0,5001.0
28,1114060500,서울특별시 중구 을지로동,1829.0,1824.0,1837.0,1839.0,1828.0,1835.0,1828.0,1829.0,...,1679.0,1677.0,1676.0,1688.0,1687.0,1675.0,1640.0,1640.0,1623.0,1623.0
29,1114061000,서울특별시 중구 신당제1동,8280.0,8303.0,8249.0,8200.0,8219.0,8247.0,8300.0,8310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4301,4119086000,경기도 부천시 신흥동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19556.0,19492.0,19449.0,19458.0,19476.0,19511.0,19508.0,19512.0,19481.0,19451.0
4302,4122025900,경기도 평택시 청북읍,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25353.0,25453.0,25557.0,25595.0,25621.0,25544.0,25456.0,25394.0,25629.0,25832.0
4303,4275038000,강원도 영월군 무릉도원면,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1972.0,1980.0,1987.0,2002.0,2007.0,2000.0,2017.0,2026.0,2025.0,2032.0
4304,3611055000,세종특별자치시 고운동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26318.0,26249.0,26131.0,26202.0,26208.0,26225.0,26288.0,26288.0,26339.0,26372.0
4305,3611056000,세종특별자치시 보람동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18199.0,19463.0,20237.0,20659.0,21019.0,22056.0,22502.0,23700.0,25741.0,27917.0
4306,4315051800,충청북도 제천시 의림지동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9301.0,9385.0,9429.0,9416.0,9348.0,9331.0,9293.0,9216.0,9199.0,9197.0
4307,4315052800,충청북도 제천시 중앙동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6763.0,6743.0,6741.0,6723.0,6710.0,6689.0,6654.0,6602.0,6561.0,6544.0
4308,4615031600,전라남도 순천시 해룡면신대출장소,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23809.0,23823.0,23863.0,23890.0,23946.0,24092.0,24179.0,24212.0,24216.0,24202.0
4309,4812556500,경상남도 창원시 마산합포구 반월중앙동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17154.0,17075.0,17005.0,16962.0,16930.0,16934.0,16889.0,16817.0,16799.0,16747.0
4310,4812754500,경상남도 창원시 마산회원구 석전동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15412.0,15333.0,15247.0,15194.0,15180.0,15125.0,15111.0,15076.0,15045.0,15009.0
4311,4817067300,경상남도 진주시 상대동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22806.0,22764.0,22803.0,22775.0,22742.0,22680.0,22654.0,22705.0,22721.0,22654.0
4312,4817067800,경상남도 진주시 하대동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28853.0,28889.0,28857.0,28760.0,28720.0,28655.0,28636.0,28622.0,28575.0,28554.0
4313,4115061500,경기도 의정부시 흥선동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21554.0,21592.0,21580.0,21549.0,21427.0,21370.0,21352.0,21380.0,21355.0
4314,4157051500,경기도 김포시 김포본동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,52188.0,52289.0,52084.0,52024.0,52010.0,51840.0,51700.0,51761.0,51747.0
4315,4157052500,경기도 김포시 장기본동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,36235.0,36349.0,36272.0,36307.0,36444.0,36450.0,36600.0,36832.0,37003.0
4316,4127152500,경기도 안산시 상록구 사동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,38570.0,38598.0,38535.0,38555.0,38439.0,38273.0
4317,4127153200,경기도 안산시 상록구 사이동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35532.0,35440.0,35348.0,35296.0,35243.0,35135.0
4318,4127153700,경기도 안산시 상록구 해양동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19595.0,19526.0,19469.0,19458.0,19474.0,19434.0
4319,4127352500,경기도 안산시 단원구 고잔동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20913.0,20931.0,20910.0,20906.0,20794.0,20883.0
4320,4127353200,경기도 안산시 단원구 중앙동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21663.0,21618.0,21589.0,21558.0,21529.0,21487.0
4321,4127354500,경기도 안산시 단원구 원곡동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7862.0,7846.0,7799.0,7779.0,7719.0,7704.0
4322,4127355500,경기도 안산시 단원구 백운동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21790.0,21173.0,20466.0,20021.0,19874.0,19816.0
4323,4127356500,경기도 안산시 단원구 신길동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24828.0,24794.0,24883.0,24927.0,24903.0,24889.0
4324,4480025600,충청남도 홍성군 홍북읍,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,26041.0,26208.0,26365.0,26477.0,26565.0
4325,3611051500,세종특별자치시 새롬동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21319.0,22361.0,23303.0
4326,4111758500,경기도 수원시 영통구 영통3동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33232.0
4327,4136054500,경기도 남양주시 다산1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39717.0
4328,4136056500,경기도 남양주시 다산2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17859.0
4329,4146125300,경기도 용인시 처인구 모현읍,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26461.0
4330,4146125600,경기도 용인시 처인구 이동읍,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21086.0

In [7]:
tp_08_17.to_csv('totpop_08_17.csv',mode="w")