In [23]:
import pandas as pd
df = pd.read_csv('C:/Users/DJA/Downloads/상가업소_201512/store_test.csv')
df.head()

C:\Java\Python35\lib\site-packages\IPython\core\interactiveshell.py:2705: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,20981047,무지개제경사,NaN,D,소매,D22,페인트/유리제품소매,D22A03,유리/거울판매,G47519,...,4.111310e+24,현성빌딩,경기도 수원시 권선구 장다리로 96,441821,16565,NaN,NaN,NaN,127.021713,37.258701
1,20967203,오성총포사,NaN,D,소매,D14,운동/경기용품소매,D14A14,총포상,G47599,...,4.111310e+24,NaN,경기도 수원시 권선구 경수대로395번길 14-1,441821,16570,NaN,NaN,NaN,127.023451,37.262041
2,20958706,영화마을,권선점,F,생활서비스,F07,물품기기대여,F07A03,비디오/오디오테이프대여,L69220,...,4.111310e+24,NaN,경기도 수원시 권선구 세지로 98-1,441821,16564,NaN,NaN,NaN,127.018838,37.260525
3,20962002,매직카,권선1호점,F,생활서비스,F14,자동차/이륜차,F14A01,자동차정비/카센타,NaN,...,4.111310e+24,NaN,경기도 수원시 권선구 동수원로 287,441826,16562,NaN,NaN,NaN,127.035860,37.255276
4,20962112,담산서예,NaN,R,학문/교육,R05,학원-음악미술무용,R05A01,서예/서화/미술,P85620,...,4.111310e+24,NaN,경기도 수원시 권선구 세권로207번길 2,441824,16568,NaN,NaN,NaN,127.027171,37.255106

In [24]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [25]:
df_count = df[['시도명','시군구명','상권업종대분류명']]
df_count.head()

   시도명 시군구명 상권업종대분류명
0  경기도  수원시       소매
1  경기도  수원시       소매
2  경기도  수원시    생활서비스
3  경기도  수원시    생활서비스
4  경기도  수원시    학문/교육

In [28]:
a_l = []
for i in range(len(df_count)):
    a_l.append(1)

df_count['수'] = a_l
df_count.head()

C:\Java\Python35\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

   시도명 시군구명 상권업종대분류명  수
0  경기도  수원시       소매  1
1  경기도  수원시       소매  1
2  경기도  수원시    생활서비스  1
3  경기도  수원시    생활서비스  1
4  경기도  수원시    학문/교육  1

In [ ]:
df_count.groupby([df_count['시도명'],df_count['시군구명'],df_count['상권업종대분류명']])